@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	color: black;
	box-sizing: border-box;
}

.container {
	padding: 0 1rem;
	margin: 0.5rem auto;
	color: black;
}

.dot {
}

.shadow {
	box-shadow: 0.75rem 0.75rem black;
}
.shadow-small {
	box-shadow: 0.1rem 0.1rem black;
}
